
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.min.css";

.form-floating, select{
  @extend .mb-3;
}

.main.container{
  margin-top: 3em;
}
.page-content>div{
  @extend .my-3;
}
.page-content>h1{
  @extend .display-3;
}

a.btn{
  text-decoration: none;
}
.btn{
  padding-left: 2em!important;
  padding-right: 2em!important;
}


/****************
 $ Theming
 */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps"; // **Newly added!**
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/mixins/container";
.main{
  @include make-container(5em);
}
